@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Bebas+Neue&family=Montserrat&family=Source+Code+Pro:wght@400;500&family=Teko&family=Urbanist&display=swap');
.todo{
    padding: 50px;
    font-family: 'Urbanist', sans-serif;
}
.addButton {
    font-family: 'Urbanist', sans-serif;
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(20,118,203);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover{
        background-color: white;
        color: rgb(20,118,203);
        border: 2px solid rgb(20,118,203);
    }
  }

  .addButtons {
    font-family: 'Urbanist', sans-serif;
    width: 150px;
    height: 30px;
    margin-left: 20px;
    font-size: 15px;
    background-color: rgb(20,118,203);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    &:hover{
        background-color: white;
        color: rgb(20,118,203);
        border: 2px solid rgb(20,118,203);
    }
  }
  
  .formContainer {
    margin: 10px 0;
  }
  
  .input {
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    font-family:'Assistant', sans-serif;
        font-size: 17px;
        outline: none;
        border:2px solid rgb(0, 162, 255) ;
    }

  
  .input2{
    font-weight: bold;
    font-family: 'Urbanist', sans-serif;
    color: rgb(27, 32, 35);
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 5px 0;
    font-family:'Assistant', sans-serif;
        font-size: 17px;
        outline: none;
        border:2px solid rgb(0, 162, 255) ;

  }

  .date{
    font-weight: bold;
    font-family: 'Urbanist', sans-serif;
    color: rgb(20,118,203);
    width: 9%;
    height: 50px;
    padding: 5px;
    margin: 5px 0;
    font-family:'Assistant', sans-serif;
        font-size: 17px;
        outline: none;
        border:2px solid rgb(0, 162, 255) ;
        cursor: pointer;

  }
  
  .select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    margin-bottom: 60px;
    font-family:'Assistant', sans-serif;
        font-size: 17px;
        outline: none;
        border:2px solid rgb(0, 162, 255) ;
  }
  
  .createButton {
    
        font-family: 'Urbanist', sans-serif;
        width: 150px;
        height: 40px;
        font-weight: bold;
        
        font-size: 15px;
        background-color: rgb(8, 103, 52);
        color: white;
        border: none;
        letter-spacing: 2px;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 10px;
        &:hover{
            background-color: white;
            color: rgb(8, 103, 52);
            border: 2px solid rgb(8, 103, 52);
      }
  }
  
  .filterSortContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  
  .listItem {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  .toggel_buttons{
    margin-top: 10px;
    display: flex;
    height: 50px;
    width: 220px;
    justify-content: space-around;
    align-items: center;
  }
  
  .editButton {
    background-color: rgb(3, 106, 38);
    height: 30px;
    width: 90px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    &:hover{
        background-color: white;
        font-weight: bold;
        color: rgb(3, 106, 38);
        border: 2px solid gold;
    }
  }
  
  .deleteButton {
    border-radius: 5px;
    height: 30px;
    width: 90px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    &:hover{
        font-weight: bold;
        background-color: white;
        color: rgb(203, 20, 20);
        border: 2px solid gold;
    }
  }
  
  .checkbox {
    margin: 0 10px;
  }
  